@import "../../less/colors";

.container {
  display: flex;
  flex-direction: column;
  width: 185px;
  margin: 20px 50px;
}

.poster {
  cursor: pointer;
}

.title {
  margin: 10px 0 7px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: @dark-gray;
  text-decoration: none;
  cursor: pointer;
}

.title-and-vote {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 11px;
  color: @medium-gray;
}

.vote {
  margin: 10px 0 7px 0;
  font-size: 16px;
  line-height: 18px;
  color: @medium-gray;
  font-weight: bold;
}