@import "../../less/colors";

.header {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 80px;
    //background-color: #444;
    background-image: url( '/static/header.jpg' );
}

.top-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo {
    color: @red;
    text-decoration: none;
}

.right-items-container {
    display: flex;
    
    & > * {
        margin-left: 10px;
    }
}
